html,
body {
    height: 100%;
}


.title{
    width: 100%;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    border-radius: 3px;
    font-size: 16px;
}

section {
    height: 100%;
    display: flex;
    flex-flow:row;/*伸缩项目单行排列*/  
}

.editor {
    border: 1px solid #d3d3d3;
    line-height: 1.5;
}

.editor,
.preview {
    flex: 1;
    padding: 10px 15px;
    overflow: auto;
}

.preview { 
    border: 1px solid #d3d3d3;
    border-left: none;
}